<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.gressier.food2fork.android">

    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/appName"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Food2Fork"
        android:name=".AppContext"
        android:supportsRtl="true"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Food2Fork"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>